@using OrderFlow.ViewModels.User
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center">
                <h3 class="mb-0"><i class="fas fa-user-circle me-2"></i> @ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <section>
        <form asp-antiforgery="true" asp-area="" asp-controller="User" asp-action="ResetPassword" asp-route-userId="@ViewBag.UserId" asp-route-token="@ViewBag.Token" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />
            <div class="mb-3">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
                        <div class="mb-3">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="fas fa-s fa-key me-2"></i> Change password
                            </button>
            </div>
        </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}